<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="ISO-8859-1" />
<title>Index Page</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css" />
<body>
	<!-- <form action="userdata" method="post">
		<table>
			<tr>
				<td><label for="user-name">User Name</label></td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td><label for="email">E-Mail</label></td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form> -->
	<div class="container">
	<section id="content">
		<form action="userdata"  method="post">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" id="name" name="name" />
			</div>
			<div>
				<input type="text" placeholder="E-Mail" id="email" name="email"/>
			</div>
			<div>
				<input type="submit" value="Log in" />
			</div>
		</form>
	</section>
</div>
</body>
</html>
